<div class="">

    <header class="title">Project manager</header>

    <div ng-controller="cController as cCtrl">

        <input type="text" class="filter" placeholder="Search project ..." ng-model="cCtrl.projectFilter.string">

        <ul>

            <li ng-click="GtProjectManagerCtrl.addProject()"><i class="glyphicon glyphicon-plus"></i> Add project</li>

            <li ng-repeat="project in GtProjectManagerCtrl.projects | filter:cCtrl.projectFilter.string">
                <a ng-href="{{project.url}}">{{project.name}}</a>
            </li>

        </ul>

    </div>

</div>